@using DocumentApp.Interfaces
@using DocumentApp.Models
@using DocumentApp.Services
@inject UserService UserService; 
@if (IsCabinet)
{
    if (UserService.CurrentUser is not null)
    {
        user = UserService.CurrentUser as Builder;
    }
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@user.BuilderName"/>
        <label class="form-label">Наименование проектной организации</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@user.OGRN"/>
        <label class="form-label">ОГРН</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@user.INN"/>
        <label class="form-label">ИНН</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@user.KPP"/>
        <label class="form-label">КПП</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@user.Adress"/>
        <label class="form-label">Адрес</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@user.Director"/>
        <label class="form-label">Руководитель исполнительного комитета РТ</label>
    </div>
}
else
{
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@BuilderName"/>
        <label class="form-label">Наименование проектной организации</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@Ogrn"/>
        <label class="form-label">ОГРН</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@Inn"/>
        <label class="form-label">ИНН</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@Kpp"/>
        <label class="form-label">КПП</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@Adress"/>
        <label class="form-label">Адрес</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" class="form-control form-control-lg" @bind-value="@Director"/>
        <label class="form-label">Руководитель исполнительного комитета РТ</label>
    </div>
}

@code {
    public string? BuilderName;

    public string? Ogrn;

    public string? Inn;

    public string? Kpp;

    public string? Adress;

    public string? Director;

    [Parameter]
    public bool IsCabinet { get; set; }

    private Builder? user;
}