@page "/registration"

<PageTitle>Personal account</PageTitle>

@using BlazorReg.Data

<h1>Registration</h1>

<p>Login:</p>
<inputText type="text" id="Login" @bind-value="@user.Login"/>
<p>Password</p>
<inputText type="password" id="Password" @bind-value="@user.Password"/>
<p>Password reapet:</p>
<inputText type="password" id="PasswordRepeat" @bind-value="@user.PasswordRepeat"/>
<p>Surname:</p>
<inputText type="text" id="Surname" @bind-value="@user.Surname"/>
<p>Name:</p>
<inputText type="text" id="Name" @bind-value="@user.Name"/>
<p>EMail:</p>
<inputText type="text" id="EMail" @bind-value="@user.EMail"/>

<button>Registration</button>

@code {
    private User[]? users;
    private DataBase data;
    private string login;
    private int password;
    private int passwordRepeat;
    private string surname;
    private string name;
    private string email;

    public void Reg()
    {
        User user = new User(login, password, passwordRepeat, surname, name, email);
        data.AddToDataBase(user);
    }
}