@page "/proj"
@using Data
@using Services
@inject NavigationManager Navigation
@inject CurrentUsersRole CurrentUser
@inject CurrentUser CurrentUserName
@inject CurrentProject CurrentProj
@inject FileSystemService FileSyS
@inject ILocalStorageService LocalStorage
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>


<div class="card">
    <h4 class="card-header" Color = "black">Personal Page</h4>
    <div class="card-body">
        <hr>
            <p>Наименование:  @CurrentProj.Project.Name</p>
            <p>Отрасль:  @CurrentProj.Project.Department</p>
            <p>Заказчик: @CurrentProj.Project.Customer</p>
            <p>Проектировщик:  @CurrentProj.Project.Designer</p>
            <p>Застройщик: @CurrentProj.Project.Developer</p>
        <hr>
        <h6>Необходимые документы</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование документа</th>
                    <th>В первую очередь</th>
                </tr>
            </thead>
            <tbody>
                @switch (@CurrentProj.Project.Department)
                {
                    case "Водоснабжение":
                        @foreach (var doc in CurrentProj.Project.DocsPreor)
                        {
                            <tr>
                                <td>@doc.Key</td>
                                <td>
                                     <input type="checkbox" checked = "@doc.Value" disabled="disabled"><label></label>
                                </td>
                            </tr>
                        }
                        @foreach (var doc in CurrentProj.Project.DocsPreorTwo)
                        {
                            <tr>
                                <td>@doc.Key</td>
                                <td>
                                     <input type="checkbox" checked = "@doc.Value" disabled="disabled"><label></label>
                                </td>
                            </tr>
                        }
                    break;
                    case "Газификация":
                        @foreach (var doc in CurrentProj.Project.DocsPreor)
                        {
                            <tr>
                                <td>@doc.Key</td>
                                <td>
                                     <input type="checkbox" checked = "@doc.Value" disabled="disabled"><label></label>
                                </td>
                            </tr>
                        }
                        @foreach (var doc in CurrentProj.Project.DocsPreorTwo)
                        {
                            <tr>
                                <td>@doc.Key</td>
                                <td>
                                     <input type="checkbox" checked = "@doc.Value" disabled="disabled"><label></label>
                                </td>
                            </tr>
                        }
                    break;
                }
            </tbody>
        </table>
        @if (CurrentUser.UserRole != "Developer")
        {
            <h6><b>Документы, предоставленные проектировщиком</b></h6>
            @if (CurrentUser.UserRole == "Designer")
            {
                switch (@CurrentProj.Project.Department)
                {
                    case "Водоснабжение":
                        <h4>Технико-экономические показатели(ТЭП)</h4>
                        @foreach (var doc in CurrentProj.Project.FormOfDesigner)
                        {
                            <h5>@doc.Key</h5>
                            <input value="@doc.Value" @oninput="(e)=> CurrentProj.Project.FormOfDesigner[doc.Key] = e.Value.ToString()"></input>                            
                        }
                        break;
                    case "Газификация":
                        <h4>Технико-экономические показатели(ТЭП)</h4>
                        @foreach (var doc in CurrentProj.Project.FormOfDesignerOne)
                        {
                            <h5>@doc.Key</h5>
                            <input value="@doc.Value" @oninput="(e)=> CurrentProj.Project.FormOfDesignerOne[doc.Key] = e.Value.ToString()"></input>                            
                        }
                        <h4>Технико-экономические показатели(ТЭП)</h4>  
                        @foreach (var doc in CurrentProj.Project.FormOfDesigner)
                        {
                            <h5>@doc.Key</h5>
                            <input value="@doc.Value" @oninput="(e)=> CurrentProj.Project.FormOfDesigner[doc.Key] = e.Value.ToString()"></input>                            
                        }
                        break;
                }
                <b></b><br /><br />
                <InputFile OnChange="@LoadFiles" multiple  />
                <br />
            }
            else
            {
                switch (@CurrentProj.Project.Department)
                {
                    case "Водоснабжение":
                        <h4>Технико-экономические показатели(ТЭП)</h4>
                        @foreach (var doc in CurrentProj.Project.FormOfDesigner)
                        {
                            <h5>@doc.Key</h5>
                            <label >@doc.Value</label>                            
                        }
                        break;
                    case "Газификация":
                        <h4>Технико-экономические показатели(ТЭП)</h4>
                        @foreach (var doc in CurrentProj.Project.FormOfDesignerOne)
                        {
                            <h5>@doc.Key</h5>
                            <label >@doc.Value</label>                              
                        }
                        <h4>Технико-экономические показатели(ТЭП)</h4>  
                        @foreach (var doc in CurrentProj.Project.FormOfDesigner)
                        {
                            <h5>@doc.Key</h5>
                            <label >@doc.Value</label>                             
                        }
                        break;
                }
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование документа</th>
                        <th>Наименование документа</th>
                    </tr>
                </thead>
                <tbody>
                    @if (CurrentProj.Project.LoadedFilesDes is not null)
                    {
                        @foreach (var file in CurrentProj.Project.LoadedFilesDes)
                        {
                            <tr>
                                <td><b>@file</b></td>
                                <td> 
                                    <a href="/files/@file">Просмотреть файл и скачать</a>
                                </td>
                            </tr>
                        }
                    }
                    @if (filesDes is not null)
                    {
                        @foreach (var file in filesDes)
                        {
                            <tr>
                                <td><b>@file</b></td>
                                <td> 
                                    <a href="/files/@file">Просмотреть файл и скачать</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (CurrentUser.UserRole == "Designer")
            {
                <button type="submit" class="registerbtn" @onclick="DelNewFilesDes">Удлаить все только загруженные файлы</button>
                <br />
            }
            @if (CurrentUser.UserRole == "Designer")
            {
                <button type="submit" class="registerbtn" @onclick="DelEarlyFileDes">Удлаить все сохранненые ранее файлы</button>
                <br />
            }
            @if (CurrentUser.UserRole == "Customer")
            {
                <label for="comForDes"><b>Комментарий</b></label> <br/>                   
                <input type="text" placeholder="Комментарий" name="comForDes" id="comForDes" required @bind-value="comForDes" />
                <br/><br />
            }
            else
            {
                <label for="comForDes"><b>Комментарий</b></label> 
                <br/><br />
                <h5>@CurrentProj.Project.CommentForDes</h5><br />
            }
        }
        @if (CurrentUser.UserRole != "Designer")
        {
            <h6><b>Документы, предоставленные застройщиком</b></h6>
            @if (CurrentUser.UserRole == "Developer")
            {
                <InputFile OnChange="@LoadFilesByDeveloper" multiple  />
                <br />
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование документа</th>
                        <th>Наименование документа</th>
                    </tr>
                </thead>
                <tbody>
                    @if (CurrentProj.Project.LoadedFilesDev is not null)
                    {
                        @foreach (var file in CurrentProj.Project.LoadedFilesDev)
                        {
                            <tr>
                                <td><b>@file</b></td>
                                <td>
                                    <a href="/files/@file">Просмотреть файл и скачать</a>
                                </td>
                            </tr>
                        }
                    }
                    @if (filesDev is not null)
                    {
                        @foreach (var file in filesDev)
                        {
                            <tr>
                                <td><b>@file</b></td>
                                <td>
                                    <a href="/files/@file">Просмотреть файл и скачать</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (CurrentUser.UserRole == "Developer")
            {
                <button type="submit" class="registerbtn" @onclick="DelNewFilesDev">Удлаить все только загруженные файлы</button>
                <br />
            }
            @if (CurrentUser.UserRole == "Developer")
            {
                <button type="submit" class="registerbtn" @onclick="DelEarlyFileDev">Удлаить все сохранненые ранее файлы</button>
                <br />
            }
            @if (CurrentUser.UserRole == "Customer")
            {
                <label for="comForDes"><b>Комментарий</b></label><br />                 
                <input type="text" placeholder="Комментарий" name="comForDes" id="comForDes" required @bind-value="comForDev" />
                <br/>
            }
            else
            {
                <label for="comForDes"><b>Комментарий</b></label> 
                <br/>
                <h5>@CurrentProj.Project.CommentForDev</h5>
            }
        }
        <br />
        @if (CurrentUser.UserRole == "Customer")
        {
            <button type="submit" class="registerbtn" @onclick="Aprroved">Утвердить</button>
        }
    </div>
</div>

<button type="submit" class="registerbtn" @onclick="Save">Сохранить</button>
<button class = "registerbtn" @onclick="GoToProj">Мои проекты</button>
<button class = "registerbtn"  @onclick="Logouting">Выйти</button>
<button class = "registerbtn" @onclick="GoToProfile">Профиль</button>

@code {
    List<IBrowserFile> _loadedFilesDev = new();
    List<IBrowserFile> _loadedFilesDes = new();
    List<string> filesDes = new List<string>();
    List<string> filesDev = new List<string>();
    string comForDes;
    string comForDev;
    string waterValue;
    string gasFirstValue;
    string gasValue;

    public void GoToProj()
    {
        Navigation.NavigateTo("/mainproj");
    }

    public void DelNewFilesDev()
    {
        filesDev.Clear();
    }

    public void DelNewFilesDes()
    {
        filesDes.Clear();
    }

    public void DelEarlyFileDev()
    {
        CurrentProj.Project.LoadedFilesDev.Clear();
    }

    public void DelEarlyFileDes()
    {
        CurrentProj.Project.LoadedFilesDes.Clear();
    }

    private void Logouting()
    {
        CurrentUserName.CurrentCustomer = null;
        CurrentUserName.CurrentDesigner = null;
        CurrentUserName.CurrentDeveloper = null;
        LocalStorage.RemoveAsync("Autho");
        LocalStorage.RemoveAsync("string");
        Navigation.NavigateTo("/");
        StateHasChanged();
    }

    public void GoToProfile()
    {
        Navigation.NavigateTo("/personalmain");
    }

    public void Aprroved()
    {
        CurrentProj.Project.IsApproved = true;
        switch (CurrentProj.Project.Department)
        {
            case "Водоснабжение" :
                DBConnection.ReplaceWater(CurrentProj.Project);
                break;
            case "Газификация" :
                DBConnection.ReplaceGas(CurrentProj.Project);
                break;
        }
        filesDes.Clear();
        filesDev.Clear();
        Navigation.NavigateTo("/mainproj");
    }

    public void Save()
    {
        switch (CurrentProj.Project.Department)
        {
            case "Водоснабжение" :
                if (CurrentUser.UserRole == "Customer")
                {
                    CurrentProj.Project.CommentForDes = comForDes;
                    CurrentProj.Project.CommentForDev = comForDev;                   
                }
                if (CurrentUser.UserRole == "Developer")
                {
                    CurrentProj.Project.LoadedFilesDev = new List<string>();  
                    if (filesDev != null)
                    {
                        foreach (var file in filesDev)
                        {
                            CurrentProj.Project.LoadedFilesDev.Add(file);
                        }
                    }                    
                }
                if (CurrentUser.UserRole == "Designer")
                {
                    CurrentProj.Project.LoadedFilesDes = new List<string>();  
                    if (filesDes != null)
                    {
                        foreach (var file in filesDes)
                        {
                            CurrentProj.Project.LoadedFilesDes.Add(file);
                        }
                    }                 
                }
                DBConnection.ReplaceWater(CurrentProj.Project);
                break;
            case "Газификация" :
                if (CurrentUser.UserRole == "Customer")
                {
                    CurrentProj.Project.CommentForDes = comForDes;
                    CurrentProj.Project.CommentForDev = comForDev;                   
                }
                if (CurrentUser.UserRole == "Developer")
                {
                    CurrentProj.Project.LoadedFilesDev = new List<string>();  
                    if (filesDev != null)
                    {
                        foreach (var file in filesDev)
                        {
                            CurrentProj.Project.LoadedFilesDev.Add(file);
                        }
                    }                    
                }
                if (CurrentUser.UserRole == "Designer")
                {
                    CurrentProj.Project.LoadedFilesDes = new List<string>();  
                    if (filesDes != null)
                    {
                        foreach (var file in filesDes)
                        {
                            CurrentProj.Project.LoadedFilesDes.Add(file);
                        }
                    }                 
                }
                DBConnection.ReplaceGas(CurrentProj.Project);
                break;
        }
        filesDes.Clear();
        filesDev.Clear();
        Navigation.NavigateTo("/personalmain");
    }

    public void Ok()
    {
        Navigation.NavigateTo("/personalmain");
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        _loadedFilesDes.Clear();

        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            _loadedFilesDes.Add(file);
            filesDes?.Add(file.Name);
            Stream stream = file.OpenReadStream();
            await FileSyS.UploadFileToDb(stream, file.Name);
            FileSyS.DownloadFileToProject(file);
            stream.Dispose();
        }
    }


    private async Task LoadFilesByDeveloper(InputFileChangeEventArgs e)
    {
        _loadedFilesDev.Clear();

        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            _loadedFilesDev.Add(file);
            filesDev?.Add(file.Name);
            Stream stream = file.OpenReadStream();
            await FileSyS.UploadFileToDb(stream, file.Name);
            FileSyS.DownloadFileToProject(file);
            stream.Dispose();
        }
    }
}

<style>
    .card-header {
        background-color :rgba(0,0,0,0.4);
    }
</style>