@page "/proj"
@using Data
@using Services
@inject NavigationManager Navigation
@inject CurrentUsersRole CurrentUser
@inject CurrentUser CurrentUserName
@inject CurrentProject CurrentProj
@inject FileSystemService FileSyS
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>


<div class="card">
    <h4 class="card-header">Personal Page</h4>
    <div class="card-body">
        <hr>
            <p>Наименование:  @CurrentProj.Project.Name</p>
            <p>Отрасль:  @CurrentProj.Project.Department</p>
            <p>Заказчик: @CurrentProj.Project.Customer</p>
            <p>Проектировщик:  @CurrentProj.Project.Designer</p>
            <p>Застройщик: @CurrentProj.Project.Developer</p>
        <hr>
        <h6>Необходимые документы</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование документа</th>
                    <th>В первую очередь</th>
                </tr>
            </thead>
            <tbody>
                @switch (@CurrentProj.Project.Department)
                {
                    case "Водоснабжение":
                        @foreach (var doc in CurrentProj.Project.DocsPreor)
                        {
                            <tr>
                                <td>@doc.Key</td>
                                <td>
                                     <input type="checkbox" checked = "@doc.Value" disabled="disabled"><label></label>
                                </td>
                            </tr>
                        }
                    break;
                    case "Газификация":
                        @foreach (var doc in CurrentProj.Project.DocsPreor)
                        {
                            <tr>
                                <td>@doc.Key</td>
                                <td>
                                     <input type="checkbox" checked = "@doc.Value" disabled="disabled"><label></label>
                                </td>
                            </tr>
                        }
                    break;
                }
            </tbody>
        </table>
        <h6>Документы, предоставленные проектировщиком</h6>
        @if (CurrentUser.UserRole == "Проектировщик")
        {
            <InputFile OnChange="@LoadFilesByDesigner" multiple  />
        }
        <h6>Документы, предоставленные застройщиком</h6>
        @if (CurrentUser.UserRole == "Застройщик")
        {
            <InputFile OnChange="@LoadFilesByDeveloper" multiple  />
        }
        @if (CurrentUser.UserRole == "Заказчик")
        {
            <button type="submit" class="registerbtn" @onclick="Ok">Утвердить</button>
        }
        <button type="submit" class="registerbtn" @onclick="Save">Сохранить</button>
    </div>
</div>


<button @onclick="Logouting">Выйти</button>
<button @onclick="GoToProfile">Профиль</button>

@code {
    List<IBrowserFile> _loadedFilesDev = new();
    List<IBrowserFile> _loadedFilesDes = new();

    private void Logouting()
    {
        CurrentUserName.CurrentCustomer = null;
        CurrentUserName.CurrentDesigner = null;
        CurrentUserName.CurrentDeveloper = null;
        LocalStorage.RemoveAsync("Autho");
        LocalStorage.RemoveAsync("string");
        Navigation.NavigateTo("/");
        StateHasChanged();
    }

    public void GoToProfile()
    {
        Navigation.NavigateTo("/personalmain");
    }

    public void Save()
    {
        Navigation.NavigateTo("/personalmain");
    }
    
    public void Ok()
    {
        Navigation.NavigateTo("/personalmain");
    }

    private async Task LoadFilesByDesigner(InputFileChangeEventArgs e)
    {
        _loadedFilesDes.Clear();

        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            _loadedFilesDes.Add(file);
            Stream stream = file.OpenReadStream(2000000);
            await FileSyS.UploadFileToDb(stream, file.Name);
            stream.Dispose();
        }
        RenderAll();
    }

    void RenderAll()
    {
        
    }

    private async Task LoadFilesByDeveloper(InputFileChangeEventArgs e)
    {
        Navigation.NavigateTo("/personalmain");
    }
}