@page "/registration"

<PageTitle>Personal account</PageTitle>

@using ServiceApp.Data
@using ServiceApp.Services
@inject DataBase dataBase

<div class="card">
    <h1 class="card-header">Registration</h1>
    <div class="card-body">
        <EditForm Model="@users" OnValidSubmit="@Reg" class="mx-1 mx-md-4">
            <label>Login:</label> <br/>
            <input type="" id="Login" @bind-value="@users.Login"/><br/>
            <label>Password:</label><br/>
            <input type="password" id="Password" @bind-value="@users.Password"/><br/>
            <label>Password repeat:</label><br/>
            <input type="password" id="PasswordRepeat" @bind-value="@users.PasswordRepeat"/><br/>
            <label>Surname:</label><br/>
            <input type="text" id="Surname" @bind-value="@users.Surname" /><br/>
            <label>Name:</label><br/>
            <input type="text" id="Name" @bind-value="@users.Name" /><br/>
            <label>Patronymic:</label><br/>
            <input type="text" id="Name" @bind-value="@users.Patronymic" /><br/>
            <label>EMail:</label><br/>
            <input type="text" id="EMail" @bind-value="@users.EMail" /><br/>
            <label>Telephone:</label><br/>
            <input type="text" id="Name" @bind-value="@users.Telephone" /><br/><br/>

            <input type="submit" class="btn btn-primary btn-lg" value="Registration" /><br/>
        </EditForm>
    </div>
</div>

@code {
    private Worker users = new Worker();

    public void Reg()
    {
        if (users.Password == users.PasswordRepeat)
        {
            dataBase.AddToDataBase(users);
        }
    }
}