@page "/registration"

<PageTitle>Personal account</PageTitle>

@using ServiceApp.Data
@using ServiceApp.Services
@using System.Diagnostics
@using Microsoft.Extensions.Configuration.UserSecrets
@inject IJSRuntime JS
@inject DataBase dataBase

<div class="card">
    <h1 class="card-header">Registration</h1>
    <div class="card-body">
        <EditForm Model="@user" OnValidSubmit="@Reg" class="mx-1 mx-md-4">
            <label>Login:</label> <br/>
            <input type="" id="Login" @bind-value="@user.Login"/><br/>
            <label>Password:</label><br/>
            <input type="password" id="Password" @bind-value="@user.Password"/><br/>
            <label>Password repeat:</label><br/>
            <input type="password" id="PasswordRepeat" @bind-value="@user.PasswordRepeat"/><br/>
            
            <label>Role:</label><br/>
            <input type="text" id="Role" @bind-value="@user.WorkerRole" /><br/>
            @*<input type="checkbox" id="customer" @bind-value="@users.WorkerRole" />
            <label for="customer">Customer</label><br/>
            <input type="checkbox" id="designer" @bind-value="@users.WorkerRole" />
            <label for="designer">Designer</label><br/>
            <input type="checkbox" id="developer" @bind-value="@users.WorkerRole" />
            <label for="developer">Developer</label><br/>*@
            
            <label>Surname:</label><br/>
            <input type="text" id="Surname" @bind-value="@user.Surname" /><br/>
            <label>Name:</label><br/>
            <input type="text" id="Name" @bind-value="@user.Name" /><br/>
            <label>Patronymic:</label><br/>
            <input type="text" id="Patronymic" @bind-value="@user.Patronymic" /><br/>
            <label>EMail:</label><br/>
            <input type="text" id="EMail" @bind-value="@user.EMail" /><br/>
            <label>Telephone:</label><br/>
            <input type="text" id="Telephone" @bind-value="@user.Telephone" /><br/><br/>

            @switch (user.WorkerRole)
            {
                case "Customer":
                    <p>You have chosen a customer</p>
                    <label>Department:</label><br/>
                    <input type="text" @bind-value="department"/><br/><br/>
                    break;;
                case "Designer":
                    <p>You have chosen a designer</p>
                    <label>ProjectOrganizationName:</label><br/>
                    <input type="text" @bind-value="organization"/><br/>
                    <label>OGRN:</label><br/>
                    <input type="text" @bind-value="ogrn"/><br/>
                    <label>INN:</label><br/>
                    <input type="text" @bind-value="inn"/><br/>
                    <label>KPP:</label><br/>
                    <input type="text" @bind-value="kpp"/><br/>
                    <label>Adress:</label><br/>
                    <input type="text" @bind-value="adress"/><br/>
                    <label>Director:</label><br/>
                    <input type="text" @bind-value="director"/><br/>
                    <label>ChiefProjectEngineer:</label><br/>
                    <input type="text" @bind-value="chief"/><br/><br/>
                    break;
                case "Developer":
                    <p>You have chosen a developer</p>
                    <label>DeveloperOrganizationName:</label><br/>
                    <input type="text" @bind-value="organization"/><br/>
                    <label>OGRN:</label><br/>
                    <input type="text" @bind-value="ogrn"/><br/>
                    <label>INN:</label><br/>
                    <input type="text" @bind-value="inn"/><br/>
                    <label>KPP:</label><br/>
                    <input type="text" @bind-value="kpp"/><br/>
                    <label>Adress:</label><br/>
                    <input type="text" @bind-value="adress"/><br/>
                    <label>ExecutiveCommitteeHead:</label><br/>
                    <input type="text" @bind-value="chief"/><br/><br/>
                    break;
            }
            
            <input type="submit" class="btn btn-primary btn-lg" value="Registration" /><br/>
            
            @if (btn)
            {
                <p>You have been registered</p>
            }
        </EditForm>
    </div>
</div>

@code {
    //users
    private Worker user = new Worker();
    //for customer
    private string? department;
    //for designer
    private string? director;
    //for designer and developer
    private string? organization;
    private string? ogrn;
    private string? inn;
    private string? kpp;
    private string? adress;
    private string? chief;
    
    bool btn = false;

    public void Reg()
    {
        switch (user.WorkerRole)
        {
            case "Customer":
                dataBase.CurrentCustomer = new Customer
                {
                    WorkerRole = user.WorkerRole,
                    Login = user.Login,
                    Password = user.Password,
                    PasswordRepeat = user.PasswordRepeat,
                    Surname = user.Surname,
                    Name = user.Name,
                    Patronymic = user.Patronymic,
                    EMail = user.EMail,
                    Telephone = user.Telephone,
                    Department = department
                };
                if (dataBase.CurrentCustomer.Password == dataBase.CurrentCustomer.PasswordRepeat)
                {
                    dataBase.AddCustomerToDataBase(dataBase.CurrentCustomer);
                    btn = true;
                }
                else
                {
                    JS.InvokeVoidAsync("alert", "Passwords don't match");
                }
                break;
            case "Designer":
                dataBase.CurrentDesigner = new Designer
                {
                    WorkerRole = user.WorkerRole,
                    Login = user.Login,
                    Password = user.Password,
                    PasswordRepeat = user.PasswordRepeat,
                    Surname = user.Surname,
                    Name = user.Name,
                    Patronymic = user.Patronymic,
                    EMail = user.EMail,
                    Telephone = user.Telephone,
                    ProjectOrganizationName = organization,
                    OGRN = ogrn,
                    INN = inn,
                    KPP = kpp,
                    Adress = adress,
                    Director = director,
                    ChiefProjectEngineer = chief
                };
                if (dataBase.CurrentDesigner.Password == dataBase.CurrentDesigner.PasswordRepeat)
                {
                    dataBase.AddDesignerToDataBase(dataBase.CurrentDesigner);
                    btn = true;
                }
                else
                {
                    JS.InvokeVoidAsync("alert", "Passwords don't match");
                }
                break;
            case "Developer":
                dataBase.CurrentDeveloper = new Developer
                {
                    WorkerRole = user.WorkerRole,
                    Login = user.Login,
                    Password = user.Password,
                    PasswordRepeat = user.PasswordRepeat,
                    Surname = user.Surname,
                    Name = user.Name,
                    Patronymic = user.Patronymic,
                    EMail = user.EMail,
                    Telephone = user.Telephone,
                    DeveloperOrganizationName = organization,
                    OGRN = ogrn,
                    INN = inn,
                    KPP = kpp,
                    Adress = adress,
                    ExecutiveCommitteeHead = chief
                };
                if (dataBase.CurrentDeveloper.Password == dataBase.CurrentDeveloper.PasswordRepeat)
                {
                    dataBase.AddDeveloperToDataBase(dataBase.CurrentDeveloper);
                    btn = true;
                }
                else
                {
                    JS.InvokeVoidAsync("alert", "Passwords don't match");
                }
                break;
        }
    }

}