@page "/authorization"

<PageTitle>Authorization</PageTitle>

@using BlazorRegistration.Data
@inject DataBase dataBase
@inject IJSRuntime JS
@inject ILocalStorageService localStorageService

<h1>Authorization</h1>

<EditForm Model="@user" OnValidSubmit="@LogIn" class="mx-1 mx-md-4">

    <p>Login:</p>
    <input type="" id="Login" @bind-value="@user.Login"/>
    <p>Password:</p>
    <input type="password" id="Password" @bind-value="@user.Password"/>

    <input type="submit" class="btn btn-primary btn-lg" value="Log In" />

    @if (user is not null)
    {
        <p>Surname: @user.Surname</p>
        <p>Name: @user.Name</p>
    }
    
</EditForm>

@code {
    private User user = new User();

    public void LogIn()
    {
        if (user.Login != null && user.Password != null)
        {
            user = DataBase.FindByLogin(user.Login);
            if (user != null)
            {
                localStorageService.SetAsync<User>("Authorization", user);
            }
            else
            {
                JS.InvokeVoidAsync("alert", "There is no such user in the database");
            }
        }
    }
}