@page "/authorization"

<PageTitle>Authorization</PageTitle>

@using BlazorRegistration.Data

<h1>Authorization</h1>

<EditForm Model="@user" OnValidSubmit="@LogIn" class="mx-1 mx-md-4">

    <p>Login:</p>
    <input type="" id="Login" @bind-value="@user.Login"/>
    <p>Password:</p>
    <input type="password" id="Password" @bind-value="@user.Password"/>

    <input type="submit" class="btn btn-primary btn-lg" value="Log In" />

    @if (!error)
    {
        @foreach (var user in users)
        {
            <p>Surname: @user.Surname</p>
            <p>Name: @user.Name</p>
        }
    }
    else
    {
        <p>There is no such user in the database</p>
    }
    
</EditForm>

@code {
    private User user = new User();
    private List<User> users = new List<User>();
    bool error;

    public void LogIn()
    {
        error = false;
        if (user.Login != null && user.Password != null)
        {
            user = DataBase.FindByLogin(user.Login);
            if (user != null)
            {
                users.Add(user);
            }
            else
            {
                error = true;
            }
        }
    }
}