@using Data
@using Services
@inject CurrentUser CurrentUser
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

<div class="card"> 
    <h4 class="card-header">Personal Page</h4>
    <div class="card-body">
        @if (CurrentUser.CurrentCustomer is not null)
        {
            <p>Имя:  @CurrentUser.CurrentCustomer.FirstName</p>
            <p>Фамилия:  @CurrentUser.CurrentCustomer.LastName</p>
            <p>Почта: @CurrentUser.CurrentCustomer.Email</p>
            <p>Логин: @CurrentUser.CurrentCustomer.Login</p>
            <p>Телефон: @CurrentUser.CurrentCustomer.Telephone</p>
            <p>Сфера: @CurrentUser.CurrentCustomer.Department</p>
        }
        <button class = "registerbtn" @onclick="GoToProj">Мои проекты</button>
        <button class = "registerbtn" @onclick="Edit">Редактировать</button>
        <button  class = "registerbtn" @onclick="Logouting">Выйти</button>
    </div>
</div>


@code {

    public void GoToProj()
    {
        Navigation.NavigateTo("/mainproj");
    }

    private void Logouting()
    {
        CurrentUser.CurrentCustomer = null;
        CurrentUser.CurrentDesigner = null;
        CurrentUser.CurrentDeveloper = null;
        LocalStorage.RemoveAsync("Autho");
        LocalStorage.RemoveAsync("string");
        Navigation.NavigateTo("/");
        StateHasChanged();
    }

    public void Edit()
    {
        Navigation.NavigateTo("/personal");
    }
}