@using Data
@using Services
@using System.ComponentModel.DataAnnotations;
@inject CurrentUser CurrentUser
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

<div class="card">
    <h4 class="card-header">Personal Page</h4>
    <div class="card-body">
        <hr>
            <label for="organisation"><b>Органзация</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.DesignerOrganisation" name="organisation" id="organisation" required @bind-value="@CurrentUser.CurrentDesigner.DesignerOrganisation" />
            <br/>
            <br/>
            <label for="middleName"><b>Фамилия</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.MiddleName" name="middleName" id="middleName" required @bind-value="@CurrentUser.CurrentDesigner.MiddleName" />
            <br/>
            <br/>
            <label for="firstName"><b>Имя</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.FirstName" name="firstName" id="firstName" required @bind-value="@CurrentUser.CurrentDesigner.FirstName" />
            <br/>
            <br/>
            <label for="lastName"><b>Отчество</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.LastName" name="lastName" id="lastName" required @bind-value="@CurrentUser.CurrentDesigner.LastName" />
            <br/>
            <br/>
            <label for="telephone"><b>Телефон</b></label>
            <input type="tel" placeholder="@CurrentUser.CurrentDesigner.Telephone" pattern="[8]{1}-([0-9]){3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" name="telephone" id="telephone" required @bind-value="@CurrentUser.CurrentDesigner.Telephone" />
            <br/>
            <br/>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="@CurrentUser.CurrentDesigner.Email" pattern=".+@globex\.com" name="email" id="email" required @bind-value="@CurrentUser.CurrentDesigner.Email" />
            <br/>
            <br/>
            <label for="ogrn"><b>ОГРН</b></label>
            <input type="text" maxlength="13" minlength="13" placeholder="@CurrentUser.CurrentDesigner.OGRN" name="ogrn" id="ogrn" required @bind-value="@CurrentUser.CurrentDesigner.OGRN" />
            <br/>
            <br/>
            <label for="inn"><b>ИНН</b></label>
            <input type="text" maxlength="10" minlength="10" placeholder="@CurrentUser.CurrentDesigner.INN" name="inn" id="inn" required @bind-value="@CurrentUser.CurrentDesigner.INN"/>
            <br/>
            <br/>
            <label for="kpp"><b>КПП</b></label>
            <input type="text" maxlength="9" minlength="9" placeholder="@CurrentUser.CurrentDesigner.KPP" name="kpp" id="kpp" required @bind-value="@CurrentUser.CurrentDesigner.KPP" />
            <br/>
            <br/>
            <label for="address"><b>Адрес</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.Address" name="address" id="address" required @bind-value="@CurrentUser.CurrentDesigner.Address" />
            <br/>
            <br/>
            <label for="director"><b>Директор</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.Director" name="director" id="director" required @bind-value="@CurrentUser.CurrentDesigner.Director" />
            <br/>
            <br/>
            <label for="engineer"><b>Главный инженер</b></label>
            <input type="text" placeholder="@CurrentUser.CurrentDesigner.MainEngineer" name="engineer" id="engineer" required @bind-value="@CurrentUser.CurrentDesigner.MainEngineer" />
            <br/>
            <br/>
        <hr>
        <button type="submit" class="registerbtn" @onclick="Save">Save</button>
        <button type="submit" class="registerbtn" @onclick="GoToProfile">Перейти в профиль</button>
    </div>
</div>



@code {
    List<string> globex = new List<string> () { "mail", "gmail" };

    public void GoToProj()
    {
        Navigation.NavigateTo("/mainproj");
    }

    public async void Save()
    {
        if (CurrentUser.CurrentDesigner.MiddleName is not null && CurrentUser.CurrentDesigner.FirstName is not null && CurrentUser.CurrentDesigner.DesignerOrganisation is not null && CurrentUser.CurrentDesigner.OGRN is not null && CurrentUser.CurrentDesigner.KPP is not null && CurrentUser.CurrentDesigner.Telephone is not null && CurrentUser.CurrentDesigner.INN is not null && CurrentUser.CurrentDesigner.Director is not null && CurrentUser.CurrentDesigner.MainEngineer is not null)
        {
            DBConnection.ReplaceDesigner(CurrentUser.CurrentDesigner);
            await LocalStorage.SetAsync<Designer>("Autho", CurrentUser.CurrentDesigner);
            StateHasChanged();
            Navigation.NavigateTo("/personalmain");
        }
    }

    public void GoToProfile()
    {
        if (CurrentUser.CurrentDesigner.MiddleName is not null && CurrentUser.CurrentDesigner.FirstName is not null && CurrentUser.CurrentDesigner.DesignerOrganisation is not null && CurrentUser.CurrentDesigner.OGRN is not null && CurrentUser.CurrentDesigner.KPP is not null && CurrentUser.CurrentDesigner.Telephone is not null && CurrentUser.CurrentDesigner.INN is not null && CurrentUser.CurrentDesigner.Director is not null && CurrentUser.CurrentDesigner.MainEngineer is not null)
        {
            Navigation.NavigateTo("/personalmain");
        }
    }
}